!!!
%html
  %head
    %title Atlrug2
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .masthead
      Atlanta Ruby
    .navigation
      %ul
        %li= link_to 'Meetings (on Meetup.com)', 'http://www.meetup.com/atlantaruby/'
        %li= link_to 'Videos (on Blip.tv)', 'http://skiptree.blip.tv'
        %li= link_to 'Work', '/work'
        %li= link_to 'Sponsors', '/sponsors'
    = yield
